{% extends 'store/main.html' %}
{% load static %}


{% block content %}
  <div class="row">
      <div class="col-lg-6">
          <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required name="name" type="text" class="form-control" placeholder="Name...">
                    </div>
                   <div class="form-field">
                    <input required name="email" type="text" class="form-control" placeholder="Email...">
                   </div>
                   
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input required name="address" type="text" class="form-control" placeholder="Address...">
                    </div>
                    <div class="form-field">
                        <input required name="city" type="text" class="form-control" placeholder="City...">
                    </div>
                    <div class="form-field">
                        <input required name="state" type="text" class="form-control" placeholder="State...">
                    </div>
                    <div class="form-field">
                        <input required name="zipcode" type="text" class="form-control" placeholder="Zip Code...">
                    </div>
                </div>
                <hr>
                <div class="box-element hidden">
                    <small>Paypal Options</small>
                    
                </div>
                <br>
                <input id="form-button" type="submit" class="btn btn-success btn-block" value="Continue">
            </form>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">
               &#x2190; Back to cart
            </a>
            <hr>
            <h3>Order Summery</h3>
            <hr>
            {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2">
                        <img src="{{item.product.imageURL}}" alt="product" class="row-image">
                    </div>
                    <div style="flex:2">
                        <p>{{item.product.name}}</p>
                    </div>
                    <div style="flex:1">
                        <p>${{item.product.price|floatformat:2}}</p>
                    </div>
                    <div style="flex:1">
                        <p>x{{item.quantity}}</p>
                    </div>
                </div>
            {% endfor %}   
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
  </div>
{% endblock content %}